.title-h1{
    color: $dark;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
}

@media (min-width: 768px){
    .title-h1{
        font-size: 6.4rem;
        line-height: 6.4rem;
    }
}


.title-h2{
    color: $white;
    font-size: 3.2rem;
    font-weight: 700;
}

.body-1{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
}

@media (min-width: 768px){
    .body-1{
        font-size: 1.8rem;
        line-height: 2.8rem;
    }
}

.body-2{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.button{
    align-items: center;
    border: none;
    border-radius: 1.2rem;
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    height: 6.1rem;
    justify-content: center;
    padding: 1.5rem 0 1.4rem 0;
    width: 100%
}

.button-apple{
    @extend .button;
    background-color: $dark;
    color: $white;
    :hover{
        background-color: $cyan;
    }
}

.button-apple::before{
    content: url('../assets/icon-apple.svg');
}

.button-apple::after{
    content: 'iOS Download';
    margin-left: .8rem;
}

.button-android{
    @extend .button;
    background-color: $white;
    color: $dark;
    :hover{
        background-color: $oragneLigth;
    }
}

.button-android::before{
    content: url('../assets/icon-android.svg');
}

.button-android::after{
    content: 'Android Download';
    margin-left: .8rem;
}