@import 'generals';
@import 'components';

body{
    background-color: $white;
    background-image: url('../assets/bg-main-mobile.png');
    background-position: top -12rem right -12rem;
    background-repeat: no-repeat;
    background-size: 100%;
    color: $dark;
    font-family: $fontPrincipal;
}

@media (min-width: 768px) {
    body{
        background-image: url('../assets/bg-pattern-1.svg'), url('../assets/bg-main-tablet.png'), ;
        background-position: top -4rem right -3.5rem, top -20rem left -30rem;
        background-size: 26rem, 140%;
    }
}

.container{
    margin: 0 auto;
    width: 88%;
}

.header{
    margin: 4rem auto;
    &__logo{
        display: inline-block;
        img{
            height: 3.2rem;
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        gap: 2.8rem;
        margin: 6.8rem 0;
    }
}

@media (min-width: 768px){
    .header{
        &__info{
            margin: 9.5rem 0;
            width: 75%;
        }
    }
}


.main{
    aspect-ratio: 1/1;
    background-color: $dark;
    background-image: url('../assets/bg-pattern-2.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 70%;
    border-radius: 1.2rem;
    margin-top: 17rem;
    position: relative;
    figure{
        align-items: center;
        display: flex;
        margin: 0 auto;
        width: 90%;
        img{
            margin: 0 auto;
            margin-top: -10rem;
            width: 60%;
        }
    }
    .card{
        background-color: $orangeDark;
        border-radius: 1.2rem;
        color: $white;
        height: auto;
        margin-top: 4.8rem;
        padding: 4.8rem 0;
        &__title{
            margin-bottom: 1.2rem;
        }
        &__text{
            margin-bottom: 3.6rem;
        }
        &__price{
            margin-bottom: 3.2rem;
            h3{
                align-items: center;
                display: flex;
                font-size: 6.5rem;
                font-weight: 700;
                line-height: 5.2rem;
                span{
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 3.2rem;
                    margin-left: 1.6rem;
                }
            }
        }
        &__buttons{
            :nth-child(1){
                margin-bottom: 1.6rem;
            }
        }
    }
}


@media (min-width: 768px){
    .main{
        aspect-ratio: 1/1;
        background-position: top -2rem left 23rem;
        background-size: 40%;
        margin: 25rem auto 0;
        max-height: 60rem;
        width: 90%;
        figure{
            margin-left: 8.5%;
            max-width: 27rem;
            img{
                margin-top: -14rem;
                width: 100%;
            }       
        }
        .card{
            padding: 4.8rem 2.4rem;
            position: absolute;
            right:8.5%;
            top:10rem;
            width: 40rem;
        }
    }
}

.footer{
    display: grid;
    margin: 0 auto 4rem;
    &__logo{
        @extend .header__logo
    }
    &__info{
        font-size: 1.6rem;
        margin: 3.2rem auto 6.4rem;
        span{
            font-weight: 800;
        }
    }
    &__social{
        display: flex;
        gap: 2rem;
        a{
            color: $dark;
            font-size: 2rem;
            :hover{
                color: $orangeDark;
            }
        }
    }
    .attribution{
        margin: 4.8rem auto 0;
        opacity: 0.75;
        a{
            color: $dark;
        }
    }
}


@media (min-width: 768px){
    .footer{
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, max-content);
        margin: 18rem auto 2.4rem;
        &__logo{
            grid-column: 1/-1;
            grid-row: 1/2;
            height: max-content;
        }
        &__info{
            grid-column: 1/2;
            grid-row: 2/3;
            margin-bottom: 6.4rem;
        }
        &__social{
            grid-column: 2/-1;
            grid-row: 2/3;
            justify-items: end;
            justify-self: self-end;
        }
        .attribution{
            grid-column: 1/-1;
            grid-row: 3/4;
            height: 2rem;
            margin: 0 auto;
        }
    }
}